<div class="comments">
  {{!-- {{#each this}} --}}
  <section class="comment">
    <div class="meta">
        Joe on 3/20/2022
      {{!-- {{user.username}} on {{format_date created_at}} --}}
    </div>
    <div class="text">
        Loved this place! I saw a mountain goat here.
      {{!-- {{comment_text}} --}}
    </div>
  </section>
  {{!-- {{/each}} --}}
</div>