
<div>
    <input name="park-name" id="park-name" type="text" autofocus="true" class="autocomplete"
    placeholder="Outdoors" />
    <button type="submit" class="btn-search third" id="search">Search</button>
    <label for="autocomplete-input">Enter a state, country, or activity type</label>
</div>