
<form>
    <div class="search-box ui-widget"> 
        <input name="search-name" id="search-name" class="form-control basicAutoComplete mb-3 mt-2" type="text" autocomplete="off" placeholder="Outdoors">
        <button type="submit" class="btn-search third" id="search-sub">Search</button>
        <label for="autocomplete-input">Enter a state, country, or activity type</label>
    </div>
</form>