:root {
    --primary: #779FA1;
    --secondary: #88498F; 
    --tertiary: #E0CBA8;
    --fourth: #104547;
    --fifth: #030027;
    --light: #ffffff;
    --dark: #272f32;
}

* {
    box-sizing: border-box;
}
  
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-family:  Tahoma, sans-serif;
    scroll-behavior: smooth;
    background-color: var(--light);
    color: var(--tertiary);
}

/* HEADER AND NAV */
header {
    background-color: var(--primary);
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
}

nav ul li a {
    font-size: 2em;
    color: var(--tertiary);
}
  
header h1 a {
    font-size: 2.2em;
    color: var(--tertiary);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* MAIN */
.intro {
    background-image: url("../images/home-globetrotter.jpg");
    background-size: cover;
    /* background-position: 80%; */
    background-attachment: fixed;
    height: 600px;
    z-index: 9999;
}
.home-text {
    font-size: larger;
    font-weight: bold;
    width: 40%;
    margin-left: auto;
    margin-right: 30px;
}
.home-title {
    width: 40%;
    margin-left: auto;
    margin-right: 30px;
    margin-bottom: 20px; 
}
#top-gem-title {
    font-size: 2.3em;
    text-shadow: 1px 1px 1px var(--tertiary);
    width:45%;
    margin-left: 10px;
    border-bottom: 2px solid var(--tertiary);

}

/* CARDS */
.card:hover {
    box-shadow: 3px 3px 3px var(--tertiary);
    background-color: var(--primary);
}
.card-style {
    background-color: rgb(119, 159, 161, .5);
}
.card {
    color: var(--fifth);
    -webkit-transition: all .6s;
    -moz-transition:    all .6s;
    -ms-transition:     all .6s;
    -o-transition:      all .6s;
    border: 1px solid #ccc;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

}
.title a {
    color: var(--fifth); 
}


/* LOGIN PAGE */
.login-border {
    border: 2px solid var(--primary);
    background-color: rgb(224, 203, 168, .7);
    color: var(--fifth);
    border-radius: 25px;
    justify-content: space-between;

}
#login-body{
    background-image: url("../images/login-img.jpg");
    background-size: cover;
    background-position: 80%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-width: 100%;
    z-index: 9999;
}
.login-header {
    font-weight: 400;
    font-size: 2em;
}

/* BUTTONS */
a {
    color: var(--tertiary);
    -webkit-transition: color .6s;
    -moz-transition:    color .6s;
    -ms-transition:     color .6s;
    -o-transition:      color .6s;
    transition:         color .6s;
}

a:hover, #logout:hover {
    color: var(--secondary);
}
button {
    background-color: var(--secondary);
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
}
  
button:hover {
    background-color: var(--primary);
}
  
.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
}
  
.btn-no-style:hover {
    background: none;
    color: #3486eb;
}
  
.delete-post-btn {
    background-color: #d41414;
}
  
.delete-post-btn:hover {
    background-color: #ff643d;
}




/* FOOTER */
footer {
    border-top: 1px solid #ccc;  
}
footer a {
    color: var(--tertiary); 
    text-decoration: none;
}





/* UTILITY CLASSES */
/* text shadows */
.ts-1 {
    text-shadow: 1.5px 1.5px 1.5px var(--fourth);
}
.ts-2 {
    text-shadow: 1.5px 1.5px 1.5px var(--tertiary);
}
/* colors */
.bg-pri {
    background-color: var(--primary)  
}
.c-sec {
    color: var(--secondary);
}
.c-five {
    color: var(--fifth);
}
/* fonts */
.bold {
    font-weight: bold;
}


/* a, #logout{
    font-weight: bold;
    transition: color .1s;
    color: #333;  
  
  

  
.post-list {
    margin: 0;
    padding: 0;
}
  
textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
}
  
textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
}
  
textarea {
    min-width: 40%;
    min-height: 100px;
}
  
form > div {
    margin-bottom: 2%;
    margin-top: 2px;
    /* margin: 12px auto; 
}
  
form label {
    display: block;
}
  
.wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

  
main {
    flex: 1;
    padding: 2% 4%;
}
  
.post {
    margin-bottom: 2%;
    line-height: 150%;
}
  
.post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
}
  
.edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
    font-size: 15px;
}
  
.comment-form {
    margin-bottom: 5%;
}
  
.comment {
    padding: 1%;
    margin-bottom: 1%;
}
  
.comment:nth-child(odd) {
    background-color: #fff5eb;
}
  
.comment .meta .comment-header {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
}

.post {
    margin-top: 0;
    border: 3px solid #333;
}

.title {
    color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
}

.post-box {
    margin-top: 0;
    background-color: #333;
}

.meta {
    background-color: whitesmoke;
}
  
.new-post-form input {
    width: 300px;
}
  
.edit-post-form {
    margin-bottom: 5%;
}
  

.edit-post-title {
 width: 40%;
}

.login-form, .signup-form {
    text-align: center;
    border: 2px solid #333;
    border-radius: 10px;
    margin: 0 auto 10px auto;
    width: 40%;
}
