/* BODY AND ROOT  */
:root {
    --primary: #779FA1;
    --secondary: #88498F; 
    --tertiary: #E0CBA8;
    --fourth: #104547;
    --fifth: #030027;
    --light: #ffffff;
    --dark: #272f32;
}

* {
    box-sizing: border-box;
}
  
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-family:  Tahoma, sans-serif;
    scroll-behavior: smooth;
    background-color: var(--light);
    color: var(--tertiary);
}

/* HEADER AND NAV */
#main-header {
    background-color: var(--primary);
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
}

nav ul li a {
    font-size: 2em;
    color: var(--tertiary);
}

header h1 a {
    font-size: 2.2em;
    color: var(--tertiary);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 3rem;
}
.nav-item a {
    padding-right: 3rem;
}

/* MAIN */
.intro {
    background-image: url("../images/home-globetrotter.jpg");
    background-size: cover;
    /* background-position: 80%; */
    background-attachment: fixed;
    height: 600px;
    z-index: 9999;
}
.home-text {
    font-size: larger;
    font-weight: bold;
    width: 40%;
    margin-left: auto;
    margin-right: 8%;
    line-height: 2;
}
.home-title {
    width: 40%;
    margin-left: auto;
    line-height: 1.8;
    margin-right: 8%;
    padding-bottom: 2%; 
}
#top-gem-title {
    font-size: 2.3em;
    text-shadow: 1px 1px 1px var(--tertiary);
    width:45%;
    margin-left: 10px;
    border-bottom: 2px solid var(--tertiary);

}

/* CARDS */
.card:hover {
    box-shadow: 3px 3px 3px var(--tertiary);
    background-color: var(--primary);
}
.card-style {
    background-color: rgb(119, 159, 161, .5);
}
.card {
    color: var(--fifth);
    -webkit-transition: all .6s;
    -moz-transition:    all .6s;
    -ms-transition:     all .6s;
    -o-transition:      all .6s;
    border: 1px solid #ccc;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

}
.title a {
    color: var(--fifth); 
}


/* LOGIN PAGE */
.login-border {
    border: 2px solid var(--primary);
    background-color: rgb(224, 203, 168, .7);
    color: var(--fifth);
    border-radius: 20px;
    justify-content: space-between;

}
#login-body{
    background-image: url("../images/login-img.jpg");
    background-size: cover;
    background-position: 80%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-width: 100%;
    z-index: 9999;
}
.login-header {
    font-weight: 400;
    font-size: 2em;
}

/* SINGLE-GEM PAGE */
.gem-img {
    background-size: cover;
    min-width: 100%;
    max-height: 600px;
}
.gem-title {
    background-color: rgb(224, 203, 168, .7);
    width: fit-content;
    animation-duration: 3s;
    animation-name: slidein;
    padding: 20px;
    border-radius: 50px;
    margin-left: 15px;
    font-size: 3em;
}
.info-border {
    border: 2px solid var(--tertiary);
    border-radius: 7px;
    -webkit-transition: all .4s;
    -moz-transition:    all .4s;
    -ms-transition:     all .4s;
    -o-transition:      all .4s;
    transition:         all .4s;
}
.info-border:hover {
    background-color: rgb(224, 203, 168, .4);

}
.desc-text {
    width: 85%;
    margin-left: 7%;
    line-height: 2;
    /* text-align: center; */
}
#desc-title {
    margin-left: 7%;
    margin-bottom: 2%;
}
      
@keyframes slidein {
    from {
    margin-left: -100%;
    }
    to {
    margin-left: 15px;
    }
}
#mask-arrange{
    top: 40%;
}
.post-header {
    font-size: smaller;
    color: #104547;
}
.side-border {
    border-left: 3px solid var(--tertiary);
}


/* COMMENTS */
.comment-form {
    margin-bottom: 5%;
}
  
.comment {
    padding: 1%;
    margin-bottom: 1%;
}

.comment:nth-child(odd) {
    background-color: #fff5eb;
}

.comment .meta .comment-header {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
}
.meta, .text{
    margin-left: 7%;
    margin-bottom: 1%;
}
.comment-btn, .upvote-btn {
    border-radius: 10px;
}
.upvote-btn {
    border: 2px solid #104547;
}
.comment-input {
    width: 65%;
    line-height: 1.5;
    border: none;
    border-bottom: 2px solid var(--fifth);
}
.comment-input:focus {
    outline: none !important;
    border-bottom: 4px solid var(--secondary) !important;
}


/* BUTTONS */
a, #a-dash{
    color: var(--tertiary);
    -webkit-transition: color .6s;
    -moz-transition:    color .6s;
    -ms-transition:     color .6s;
    -o-transition:      color .6s;
    transition:         color .6s;
}

a:hover, #logout:hover {
    color: var(--secondary)!important;
}

button {
    background-color: var(--secondary);
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
} 
button:hover {
    background-color: var(--primary);
}

.icon-btn {
    visibility: hidden;
}
.edit-link:hover .icon-btn {
    visibility: visible;
}


/* DASHBOARD STYLES */
.edit-link {
    margin-top: 7px;
    background-color: var(--secondary);
    padding: 7px;
    border-radius: 7px;
    display: inline-block;
}
.edit-link:hover, #add-gem-btn:hover {
    color: var(--secondary);
    background-color: var(--tertiary);
    font-weight: 500;
}
#add-gem-btn, #edit-prof-btn {
    box-shadow: 3px 3px 3px var(--fourth);
    font-size: larger;
    background-color: var(--primary);
    color: var(--fifth);
    margin-left: 5%;
    margin-top: 5%;
}
#edit-prof-btn:hover {
    background-color: var(--tertiary);
}


/* ADD GEM MODAL */
#add-gem-title, #edit-gem-title, #edit-user-title {
    font-size: 1.5em;
    color: var(--secondary);
}
#add-gem-modal {
    max-width: none;
    width: 100%;
}

/* EDIT GEM */
#edit-form {
    margin-bottom: 0%;
}
#edit-form {
    max-width: none;
    width: 67%;
}
#edit-bg, .bg-img {
    background-image: url("../images/edit-gem-mountain.jpg");
    background-size: cover;
    background-position: 80%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-width: 100%;
    z-index: 9999;
}
#go-back-btn:hover {
    /* color: var(--tertiary); */
    background-color: var(--primary);
}

/* EDIT PROFILE */
.bg-img {
   padding: 100px 0;;

}


/* FOOTER */
footer {
    border-top: 1px solid #ccc;  
}
.foot-text {
    color: var(--tertiary); 
    text-decoration: none;
}


/* UTILITY CLASSES */
/* text shadows */
.ts-1 {
    text-shadow: 1.5px 1.5px 1.5px var(--fourth);
}
.ts-2 {
    text-shadow: 1.5px 1.5px 1.5px var(--tertiary);
}
/* colors */
.bg-pri {
    background-color: var(--primary)  
}
.c-sec {
    color: var(--secondary);
}
.c-five {
    color: var(--fifth);
}
/* fonts */
.bold {
    font-weight: bold;
}
/* margins and padding */
.ml-gem {
    margin-left: 5%;
}
.mr-gem {
    margin-right: 5%;
}


/*
Make bootstrap-select work with bootstrap 4 
*/
.dropdown-toggle.btn-default {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
  }
  .bootstrap-select.show > .dropdown-menu > .dropdown-menu {
    display: block;
  }
  .bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden {
    display: none;
  }
  .bootstrap-select > .dropdown-menu > .dropdown-menu li a {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
    text-decoration: none;
  }
  .bootstrap-select > .dropdown-menu > .dropdown-menu li a:hover {
    background-color: #f4f4f4;
  }
  .bootstrap-select > .dropdown-toggle {
    width: 100%;
  }
  .dropdown-menu > li.active > a {
    color: #fff !important;
    background-color: #337ab7 !important;
  }
  .bootstrap-select .check-mark {
    line-height: 14px;
  }
  .bootstrap-select .check-mark::after {
    font-family: "FontAwesome";
    content: "\f00c";
  }
  .bootstrap-select button {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  /* Make filled out selects be the same size as empty selects */
  .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline !important;
  }




/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    #edit-form {
        width: 100%;
        font-size: 1.5em;
        line-height: 3;
    }
    #go-back-btn, #delete-gem-btn, #confirm-edit-btn {
        margin: 15px;
        padding: 12px 25px;
        font-size: 2em;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .intro {
        /* background-image: none; */
        /* background-color: var(--tertiary ); */
        /* opacity: .6; */
        
    }
    .home-text, .home-title {
        width: 50%;
        margin-right: auto;
        margin-left: 6%;
    }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen  and (max-width: 575px) {
    .intro {
        background-image: none;
        background-color: var(--tertiary );
        height: fit-content;
        padding-bottom: 30px;
        
    }
    .home-text, .home-title {
        width: 80%;
        margin-left: auto;
    }  
    #main-header {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: auto;
        margin: auto;
    }
    #navbar {
        padding: 50px;
    }
    #top-gem-title {
        width: 80%;
        margin: auto;
    }
    #main-header h1 {
        font-size: 2em;
    }
    #main-header h1 a {
        margin-left: auto;
    }
    .nav-item a {
        padding: 5px;
    }

}